/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.edit-post-sidebar {
	.edit-data-card {
		.edit-data-card-body {
			padding-top: 0;
		}
	}
}

.hello-charts-data-styles {
	.dataset-label,
	.segment-label {
		flex-basis: 100%;
	}
	.dataset-pagination-number {
		white-space: nowrap;
	}
}

.hello-charts-data-editor {
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	max-height: calc(100% - 32px);
	> div {
		padding: 0;
	}

	.components-modal__header {
		margin: 0;

		h1 {
			flex-grow: 1;
			line-height: 36px;

			button {
				float: right;
			}
		}
	}

	.components-modal__content:before {
		margin-bottom: 0;
	}

	table {
		position: relative;
		border-collapse: collapse;
		border-spacing: 0;
		table-layout: fixed;

		tr:first-child th {
			border-top: 0;

			input {
				padding: 0 36px 0 8px;
				text-align: left;
			}

			.components-dropdown-menu {
				left: auto;
				right: 0;
			}

			.input-error:not(:focus) {
				box-shadow: #d63638 0px 0px 0px 2px;
			}

			&:first-child input {
				color: transparent;
			}
		}

		th {
			position: relative;
			border: 1px solid #dcdcde;
			width: 120px;
			background-color: #f1f1f1;
			padding: 2px;
			white-space: nowrap;

			input {
				display: inline-block;
				line-height: 32px;
				width: 100%;
				padding: 0 8px 0 36px;
				background: transparent;
				border: none;
				border-radius: 0;
				text-align: right;

				&:focus {
					box-shadow: rgb(59 130 246) 0px 0px 0px 2px;
					z-index: 10;
					outline: none;
					cursor: auto;
				}
			}

			.components-dropdown-menu {
				position: absolute;
				left: 0;
				top: 0;
			}
		}

		td {
			width: 100px;
			border: 1px solid #dcdcde;
			padding: 0 1px 0 0;
			position: relative;

			input[type="number"] {
				position: relative;
				height: 36px;
				border: none;
				width: 100%;
				border-radius: 0;

				&:hover {
					background-color: #f4f4f4;
					cursor: default;
				}

				&:focus {
					box-shadow: rgb(59 130 246) 0px 0px 0px 2px;
					z-index: 10;
					outline: none;
					cursor: auto;
				}
			}
		}

		.components-dropdown-menu__toggle {
			padding: 0;

			.dashicon {
				margin: 0;
				font-size: 14px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.new {
			text-align: center;
		}

		.disabled {
			background: #f6f7f7;
			border: none;
			text-align: center;
		}

		.dashicons {
			vertical-align: middle;
		}

		.new button {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #f1f1f1;
		}

		.new button .dashicon:before {
			font-size: 16px;
		}
	}
}

.popover-slot {
	.components-menu-item__item {
		padding-right: 1em;
	}

	.info-popover .components-popover__content {
		padding: 1em;
		width: 250px;
	}
}

.hello-charts-color-palette {
	.components-circular-option-picker__dropdown-link-action {
		height: 28px;
		line-height: 28px;
	}

	&.has-custom-color {
		.components-circular-option-picker__dropdown-link-action {
			padding-right: 32px;
		}
	}

	.hello-charts-custom-color-indicator {
		margin-top: -28px;
		padding-right: 10px;

		.component-color-indicator {
			margin: 0 0 0 auto;
			padding: 2px;
			width: 28px;
			height: 28px;
			display: block;
			border-radius: 50%;
			border: none;
			box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px inset;

			&:hover {
				transform: scale( 1.2 );
				cursor: pointer;
			}
		}
	}
}

.block-editor-block-preview__content .wp-block-hello-charts {
	.wrapper {
		height: 340px;
	}

	canvas {
		margin: 0.5em auto;
	}
}
