/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-hello-charts-block-pie  {
  background: white;
  border: 1px solid black;
  color: black;
  margin: 0 auto;
  text-align: center;
}
