/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.edit-post-sidebar {
    .edit-data-card {
        .edit-data-card-body {
            padding-top: 0;
        }
    }
}

.hello-charts-data-editor {
    > div {
        padding: 0;
    }

    .components-modal__header {
        margin: 0;
    }

    table {
        position: relative;
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: fixed;
        width: 100%;

        th,
        td {
            border: 1px solid #dcdcde;
			padding: 0;
        }

        thead th {
			border-top: 0;
			text-align: left;
			padding-right: 8px;
			padding-left: 8px;

			button.components-dropdown-menu__toggle {
				padding: 0;
				opacity: 0;

				.dashicon {
					margin: 0;
					font-size: 14px;
					display: flex;
					align-items: center;
					justify-content: flex-end;
				}
			}
        }
		thead th:hover {
			button.components-dropdown-menu__toggle {
				opacity: 1;
			}
		}

        tbody th {
            text-align: right;
			padding-right: 8px;
			padding-left: 8px;
        }

        .title {
            width: 15%;
        }

        .new {
            width: 10%;
            text-align: center;
        }

        .disabled {
            background: #f6f7f7;
            border: none;
            text-align: center;
        }

        .dashicons {
            vertical-align: middle;
        }

		input[type="number"].components-input-control__input:hover {
			background-color: #f4f4f4;
			cursor: default;
		}

		input[type="number"].components-input-control__input:focus {
			box-shadow: rgb(59 130 246) 0px 0px 0px 2px !important;
    		z-index: 10 !important;
			outline: none !important;
			cursor: auto;
		}

		input[type="number"].components-input-control__input {
			height: 36px;
			border-radius: 0;
		}

		input[type="number"]+.components-input-control__backdrop {
			border: none;
		}
    }
}
