/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-hello-charts-block-bar,
.wp-block-hello-charts-block-line,
.wp-block-hello-charts-block-pie,
.wp-block-hello-charts-block-radar  {
	background: white;
	color: black;
	margin: 0 auto;
	text-align: center;
	padding: 1px;

	.wrapper {
		border: 1px solid #ddd;
		border-radius: 4px;
		padding-top: 24px;
	}

	h3.chart-title {
		margin: 0;
	}
}
